.leftmenu, html, body {
    height: 100%;
    margin: 0;
     font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}
img {
   width: 150px;
   padding-bottom:20px;
}

.leftmenu{
  background-color:#35C892;
  border-right: 1px solid black;       
  display:flex;
  flex-direction:column; 
  align-items:center;
  /* flex-grow: 1; */
  min-width: 300px;
  max-width: 300px;
  padding-top:50px;
}
.leftmenu a{
  padding:10px;  
  text-decoration: none;
  color:white;
}

.leftmenu a:hover {
  text-decoration: underline; 
 }

.hamburger img{
  width:0px
}


@media only screen and (max-width: 768px) {
  .hamburger img{
    width:30px;
    padding: 10px;
  }
  .leftmenu{
    display: none;
  }
}