
.mobileHeader{
  height:75px;
  background-color:lightgray ;
  display: flex;
  flex-direction: row; 
  align-items: center;  
  justify-content: space-between;
}
.mobileHeaderLogo img{
  width: 50px;
  padding-bottom:0px;  
}
